
.ant-layout-header {
  line-height: 0;
}
.ant-layout {
  height: 100vh;
}

.app-header {
  height: 64px;
  /* max-height: 10vh; */
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  box-shadow: 0 4px 10px rgba(118, 184, 223, 0.2);
}

.ant-layout-footer {
  padding-top: 0px;
  padding-right: 5px;
  padding-left: 10px;
  padding-bottom: 0px;
}

.app-footer {
  display: flex;
  height: 48px;
  justify-content: space-between;
  /* z-index: 99; */
  align-items: center; 
  justify-content: flex-end;
}
.settting-span {
  font-weight: bold;
  font-size: xx-large;
  cursor: pointer;
}
.settings {
  font-size: 24px;
  cursor: pointer;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* 滚动条 */
div::-webkit-scrollbar {
  width: 8px;
  height: 8px; /* 如果需要自定义水平滚动条 */
}

div::-webkit-scrollbar-track {
  background: #e0e0e0;
}

div::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #ffffff, #666463); /* 渐变色 */
  border-radius: 4px;
}

div::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #666463, #ffffff);
}